<form action="/games/<%= @game.id %>" method="post">
  <!-- Necessary because form does not natively support patch methods -->
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= @game.name %>">
  <input type="submit">
</form>
